<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>書籍登録フォーム</title>
</head>
<body>
<h1>書籍登録</h1>
<form action="#" th:action="@{/book/registrationForm}" th:method="post" th:object="${registrationForm}">
    <div>
        <label for="titleInput">タイトル</label>
        <input type="text" id="titleInput" th:field="*{title}">
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">(error)</p>
    </div>
    <div>
        <label for="authorInput">著者</label>
        <input type="text" id="authorInput" th:field="*{author}">
        <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}">(error)</p>
    </div>
    <div>
        <label for="priceInput">値段</label>
        <input type="number" id="priceInput" th:field="*{price}">
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">(error)</p>
    </div>
    <div>
        <label for="stockInput">在庫</label>
        <input type="number" id="stockInput" th:field="*{stock}">
        <p th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}">(error)</p>
    </div>
    <div>
        <button type="submit">登録</button>
    </div>
</form>
</body>
</html>