<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>決済</title>
</head>
<body>
<h1>決済内容確認</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>著者</th>
        <th>値段</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cart : ${bookListInCart}">
        <td th:text="${cart.id}">(id)</td>
        <td th:text="${cart.title}">(title)</td>
        <td th:text="${cart.author}">(author)</td>
        <td th:text="${cart.price} + '円'">(price)</td>
    </tr>
    </tbody>
</table>

<p th:text="'合計金額は' + ${totalPrice} + '円です'">(totalPrice)</p>
<form th:action="@{/cart/payment}" method="post">
    <button type="submit">決済</button>
</form>

<a href="#" th:href="@{/book/index}">カートに戻る</a>

</body>
</html>