<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ユーザー登録フォーム</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>ユーザー登録</h1>
<form action="#" th:action="@{/user/userRegistrationForm}" th:method="post" th:object="${userRegistrationForm}">
    <div>
        <label for="usernameInput">ユーザー名</label>
        <input type="text" id="usernameInput" th:field="*{username}">
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">(error)</p>
    </div>
    <div>
        <label for="passwordInput">パスワード</label>
        <input type="text" id="passwordInput" th:field="*{password}">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">(error)</p>
    </div>
    <div>
        <button type="submit">登録</button>
    </div>
</form>
</body>
</html>