<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>管理画面</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>管理画面</h1>
<a href="#" th:href="@{/management/userList}">ユーザー一覧へ</a><br>
<a href="#" th:href="@{bookRegistrationForm}">書籍登録画面へ</a>
<h1>書籍一覧</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>著者</th>
        <th>値段</th>
        <th>在庫</th>
        <th>管理</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${bookList}">
        <td th:text="${book.id}">(id)</td>
        <td th:text="${book.title}">(title)</td>
        <td th:text="${book.author}">(author)</td>
        <td th:text="${book.price} + '円'">(price)</td>
        <td th:text="'残り' + ${book.stock} + '冊'">(stock)</td>
        <td><a href="#" th:href="@{{bookId}(bookId=${book.id})}" th:text="この書籍の管理画面へ">(management)</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>