<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ユーザー一覧</title>
</head>
<body>
<a href="#" th:href="@{/management/adminRegistrationForm}">ユーザー登録画面へ</a><br>
<a href="#" th:href="@{/management/top}">管理画面トップに戻る</a>


<h1>ユーザー一覧</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>ユーザー名</th>
            <th>パスワード</th>
            <th>権限</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.userId}">(userId)</td>
            <td th:text="${user.username}">(username)</td>
            <td th:text="${user.password}">(password)</td>
            <td th:text="${user.authority}">(authority)</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>